body {

  font-family: 'Dosis', sans-serif;
  background-color: #f1f1f1;
  margin: 0;
}


h1, h2, h3, h4 {
  font-family: 'Anaheim', sans-serif;

}

a{
  color: #B90504;
  text-decoration: none;
}

h1 a {
	text-decoration: none;
	font-family: 'Anaheim', sans-serif;
	letter-spacing: 0.075em;
}

a.active {

color: #E8E8E8;

}

a:hover{


}

#add {
    background-color: #dddddd;
    border: none;
    color: white; !important
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#adminLogin {
	float: right;
	text-align: right;
	color: #B90504;
	margin-top: -4em;
  padding-right: 1.5em;
}

#adminLogout {
	float: right;
	text-align: right;
  font-weight: bold;
	color: #B90504;
}

#keyword {
	width: 45%;
	height: 5%;
	min-height: 40px;
	border-style: solid;
  	border-color: #B90504;
  	border-radius: 15px;
  	padding: 2px 5px;
  	text-algin: center;
  	margin: auto;
}

#main {
  min-width: 800px;
  font-family: 'Dosis', sans-serif;
  color: #333333;
  margin-top: -3.5vh;

}

#main header h1{
  color: #990100;
  font-size: 32px;
  margin-bottom: 0.25em;
  margin-left: 15px;

}

#main header{
	background-color: #ffffff;
	background-size: 110% 40%;
  padding-top: 2em;
  padding-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content {
  padding: 1em;

}

@media (min-width:1200px){
  #logo {
    display: inline-block;
  }
}




#view-options li{
  margin-bottom: 10px;

}

#homeSearch {
  font-size: 17px;
  position: relative;
  margin: auto;
  width: 50%;
  top: 30vh;
  text-align: center;
}

#homeSearch h3 {
	font-size: 35px;
	color: #990100;
}

#playback{
  min-width: 800px;
  max-width: 1400px;
  margin: auto;

}

#sub {
	width: 10%;
	height: 5%;
}

#videos {
  min-width: 90px;
  max-width: 80vw; /*1150*/
  /*float:left;*/
  margin: auto;
}

#controls {
  min-width: 200px;
  max-width: 250px;
  float: right;

}

iframe {
  border: none;
  margin-top: 1.5em;
  /*margin-right: 1em;*/
  margin-bottom: 0.5em;
}



#controls .buttons {
  float:right;
  display:block;
  padding-left: 1em;


}

#home {
	margin: auto 0px;
}

input[type="button"],
button,
.button{

		background-color: transparent;
		border: none;
		color: #B90504 !important;
		cursor: pointer;
		display: inline-block;
		font-family: "Anaheim", sans-serif;
		font-size: 0.8em;
		font-weight: 700;
		height: 3.5em;
		letter-spacing: 0.075em;
		line-height: 3.5em;
		padding: 0 auto;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: -90px;
    text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

.camera {
	position: relative;
	right: 25px;
	top: 5px;
}

#search-container {
  border: none;
  font-size: 17px;
  padding-left: 200px;
  margin-left: 300px;
}

#search-container button, .button{
  width: 140px;

}

#broadcast {
  width: 60%;
  margin: auto;
  position: relative;
  text-align: center;
}

#broadcast a{
  margin: 0 1em;

}

.overlay{
  position: absolute;
  height: 240px;
  width: 360px;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: -232px;
  color: none;
  opacity: 0;
  background-color: #F00;
  text-align: center;
  display: block;
}

.overlay a{
  color: #FFF;
  line-height: 240px;
}

.overlay:hover{
  background: rgba(0,0,0,.4);
  opacity: 1.0;
  color: #FFF;
}

.bigOverlay{
  display: none;

}

#overVid{
  width: 60vw;
  height: calc(60vw * .5625 );/*- 1px);*/
  display: block;
  margin-top: 25px;
  margin-left: 1px;
}

#overVid a{
  color: #FFF;
  line-height: calc(60vw );/* .5625);*/

}

#vidPlayer {
  width: 100%;
  height: calc(60vw * .5625);
  position: relative;
  text-align: center;
  /*left: 300px;
  margin-top: 50px;*/
  border: 1px solid;
  border-color: #B90504;*/
}

.bigPlayer {
  border: none;
  width: 600px;
  height: 400px;
  position: relative;
  text-align: center;
}

.boxes {
	width: 400px;
	height: 140px;
	margin: 5px 15px;
	display: inline;
	position: relative;
}

.bigBox {
	top: 0px;
	left: 0px;
	width: 80%;
	height: 500px;
	margin: 0 auto;
	display: block;
}

#spaceblock {
    background-color : white;
    border: none;
    width: 600px;
    height: 400px;
    position: relative;
    text-align: center;
    margin-left: 420px;
    display: none;
}
#wrapper {
    padding : 10px;
}
